DATABASE_URL=file:./numarstore.db
JWT_SECRET=sua-secret-aqui-troque-isso
JWT_EXPIRES_IN=7d
BANDEIRA_API_URL=https://viacep.com.br/ws
SENDGRID_API_KEY=SG.your-api-key-here
SENDGRID_FROM_EMAIL=contato@numarstore.com.br
SENDGRID_FROM_NAME=Numar Store
FRONTEND_URL=https://numarstore-v-final.vercel.app